*{
	margin:0;
	padding:0;
}


body{
	margin:0px;
    color:#222;
    font-family:'AktivGroteskW01-Regular', sans-serif;
	background-color:#fff;
	line-height:1.5em;
	height:auto;
	position:relative;
}

::selection {
    background: #666;
    color: #fff;
    text-shadow: none;
}

article, header, footer, section, figure, p{
	display:block;
}

.bottom-space{
	padding-bottom: 4rem;
}

.clear{
	height: 1px;
    width: 100%;
    position: relative;
    display: block;
    clear: both;
}

.site-inner-container{
	clear: both;
	position: relative;
	top:0px;
	margin:0px;
	padding:48px 0px 16px;
    
}

.column{
	position:absolute;
	width:1px;
	background-color: rgba(0, 0, 0, 0.075);
	height:100%;
	top:0;
	margin:0;
	padding: 0;
	z-index:-1;
}

.column-01{
	left:calc(100% / 6);
}

.column-02{
	left:calc(100% / 6 * 2);
}

.column-03{
	left:calc(100% / 6 * 3);	
}

.column-04{
	left:calc(100% / 6 * 4);
}

.column-05{
	left:calc(100% / 6 * 5);
}

p, ul, li, a, h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    letter-spacing: -0.025em;
    line-height: 1.375rem;
    margin: 0 0 0 0;
    max-width:40rem;
    font-weight:normal;
}

a, ul, li{
	list-style-type: none;
	color:black;
	text-decoration: none;
}

@media all and (max-width:768px){
	li, h4 > a{
		display: block;
		border-bottom: solid 1px rgba(0, 0, 0, 0.075);
		padding: 0rem;
		height: 2rem;
		margin: 0;
	}
}

a:link, a:visited, a:active{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.box-border{
	box-sizing: border-box;
}

.next-btn{
	display:flex;
	align-items:center;
	background-color:black;
	float:right;
	position:fixed;
	top:205px;
	right: -175px;
	width: 175px;
	height:150px;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	overflow:hidden;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
	z-index: 5;}

	@media all and (max-width:768px){
		.next-btn{
			height:30px;
		}
	}

	.slide-img{
		
		display:flex;
		flex-direction: row;
	}

	.slide-img:hover{
	animation: slide 2s infinite;
	transition: all 1s ease;
	}
  
	span{
	position:absolute;
	top:0;
	width:50px;
	height:200px;
	left:0px;
	padding-top:70px;
	padding-left:5px;
  }

  @media all and (max-width:768px){
	span{
		top:-55px;
		left:90px;
		z-index:20000;
	}
}

  

.site-header{
	box-sizing: border-box;
	position:relative;
	top:-48px;
	overflow: hidden;
    padding-top:0px;
	padding:8px 8px 64px;
	padding-bottom:4rem;
	font-size: 1.375em;
	font-weight: bold;
	letter-spacing: -0.0625em;
	z-index:99;
}

@media all and (max-width:768px){
	.site-header{background-color:#fff;
}
}

h1{
	position: relative;
	top:60px;
	margin:-2px 12px 0;
	padding:0 0 27.5px;
}

.menu-desktop-button{
	position: absolute;
	top:65px;
	left:450px;
	margin:0 12px;
	cursor:pointer;
	z-index:1001;
}

#bigMenuBtn{
	display:none;
}

#bigMenuBtn:checked ~ .hidden-content{
	opacity:1;
	height: 120vh;
}

#bigMenuBtn:checked ~ .wrap-content{
	position:relative;
	top: 8.5em;
}


/* SMALLER MENU STYLING STARTS */

.desktop-hide{
	position: relative;
}

.second{
  width:100%;
  height:20px;
  padding:10px 0;
  
}

.dummy-div{
 
  float:right;
  width:30px;
  font-weight:bolder;
}

.nav-menu{
  position:absolute;
  opacity:0;
  width:100%;
  top:-140px;
  transition:all 0.5s ease-in-out;
  z-index: -1;
}

.nav-menu li{
  display:block;
  border-bottom:1px solid rgba(0, 0, 0, 0.075);
}

.nav-menu li a{
	font-size:10px;
}

.menu-icon{
 position:relative;
 top:-125px;
 float:right;
 padding:10px 20px;
 cursor:pointer;
 z-index:1000;
}

#menuToggle{
  display:none;
}

#menuToggle:checked ~ .nav-menu{
  position:absolute;
  top:1px;
  opacity:1;
}
/* SMALLER MENU STYLING ENDS */

.hidden-content{
	position: relative;
	top:-2.5rem;
	opacity:0;
	height: 0;
	transition:all .9s ease-in-out;
}


#outer-grid{
	display:grid;
	grid-template-columns: 2fr 4fr;
	
	
}

.hidden-nav-inner{
	display: grid;
	grid-template-columns: 2fr 2fr;
	font-size:10px;
	height:auto;
}


.first-column{
	padding:12px 0px 12px 20px;
}

@media all and (max-width:768px){
	.first-column{
		width:3000px;
	}
}

.second-column{
	padding:12px 0px 12px 20px;
	float:right;
}
.tag-nav{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	position:relative;
	font-size:10px;
}

.hidden-content h4{
	margin-bottom:0.735rem;

}

.list-section{
	padding:12px 0px 12px 20px;
}

.list-section:nth-child(n+2){
	margin-top:20px;
}

.wrap-content{
	width:100%;
	margin:auto;
	transition:all 3s ease-in-out;
	
}

@media all and (max-width:768px){
	.wrap-content{
		position:absolute;
		top:350px;
	}
}

.left-header{
	position:relative;
	top:-2em;
	left:1.5rem;
	float:left;
	margin:30px 10px 20px;
	padding:0 0 20px;
	
}

.left-header::after{
	content:"";
	clear:both;
}

@media all and (max-width:768px){
	.left-header{
		float:none;
		display:block;
		top:-4rem;
		font-weight:bolder;
	}
}

.right-paragraphs{
	position:relative;
	width:calc(100% / 6 * 4);
	left:calc(100% / 6 * 2);
	margin:0 0 20px;
	padding:0 0 20px;
}

@media all and (max-width:768px){
	.right-paragraphs{
		float:none;
		position:initial;
		display:block;
		width:100%;
		margin:0 35px 20px;
	}
}
.right-paragraphs p{
	position:relative;
	top:-5.5rem;
	margin-bottom:2em;
	clear:both;
}

.img-wrap{
	
	width:auto;
	column-count:3;
}

@media all and (max-width:768px){
	.img-wrap{
		column-count: 2;
	}
}

.row-item{
	height:auto;
}

.img-container{
	display:block;
	position:relative;
	float:left;
	box-sizing: border-box;
	line-height:0em;
	margin:1px 1px;
	padding:10px;
}


figure img{
	width:100%;
	
}

.image-effect{
filter:grayscale(100%);
transition: all .3s ease-in-out;
}

.overlay{
	transition: all .3s ease-in-out;
	opacity: 0;
}
.img-container:hover .overlay{
	opacity: 1;
	
}

.image-effect:hover{
	filter:none;
}

.img-site{
	color:black;
	position:absolute;
	top:10px;
	background-color:white;
	opacity:0.7;
	width:100%;
	height:4rem;
}

.img-site a{
	margin:10px;
	
}

.img-site a:nth-child(2){
	color:#888;
}

.img-site a:nth-child(2):hover{
	color:black;
}
/* Deneme */

.bottom-list{
	bottom:3rem;
}

.bottom-list::after{
	content:"";
	clear:both;
	display:block;
}

.other-four-columns{
	width:calc(100% / 6 * 4);
	display: grid;
	float:right;
	grid-template-columns:1fr 1fr 1fr 1fr;
	font-size:10px;
}
.other-four-columns a{
display:inline-block;
}

.other-four-columns div{
	line-height:1.1em;
	margin:0 32px;
	padding:0 0 12.5px;

}

@media all and (max-width:768px){
	.other-four-columns{
		width:calc(100%/ 6 *6);
	}
	
}

.clear-big{
	margin:0 0 -1px;
	padding:0 0 128px;
}

footer{
	display:grid;
	float:right;
	width:calc(100% / 6 * 4);
	grid-template-columns:1fr 1fr 1fr 1fr;
	justify-items: end;
	font-size:10px;
	color:#888;
}
footer h4{
	margin:0 32px;
	padding:0 0 10px;
}

footer a{
color:#888;
}
	

footer p{
	line-height:1.1em;
	margin:0 32px;
	padding:0 0 12.5px;
}

@media all and (max-width:768px){
	footer{
	display: block;
    clear: both;
    height: auto;
	border-bottom: none;
	float:left;
	}

	footer h4{
	line-height:1.5%;
	margin:0 12px;
	}

	footer p{
	margin:0 12px;
	padding:0 0 12.5px;
	}

	.mobile-hide{
		display:none;
	}
}

@media all and (min-width:769px){
	.desktop-hide{
		display:none;
	}
}